@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.footer {
  background-color: var.$color-primary-95;
  @include mix.tablet {
    display: flex;
    justify-content: space-between;
  }
}
