@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

body {
  background-color: var.$color-background;
}

.hero,
.main__section,
.footer {
  padding: var.$spacing;
  @include mix.tablet {
    padding: var.$spacing var.$spacing-double;
  }
  @include mix.desktop {
    padding: var.$spacing var.$spacing-quadruple;
  }
}
