@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

body {
  background-color: var.$color-background;
}

.hero,
.main__section {
  padding-top: var.$spacing;
  padding-right: var.$spacing;
  padding-bottom: var.$spacing-quadruple;
  padding-left: var.$spacing;
  @include mix.tablet {
    padding-right: var.$spacing-double;
    padding-left: var.$spacing-double;
  }
  @include mix.desktop {
    padding-right: var.$spacing-quadruple;
    padding-left: var.$spacing-quadruple;
  }
}

.footer {
  padding: var.$spacing;
  @include mix.tablet {
    padding: var.$spacing var.$spacing-double;
  }
  @include mix.desktop {
    padding: var.$spacing var.$spacing-quadruple;
  }
}
